/* stylelint-disable no-missing-end-of-source-newline */
html,
body {
	margin: 0;
	padding: 0;
	/* stylelint-disable-next-line order/properties-order */
	color: var(--black);
	background: #F5F6F8;

	/* stylelint-disable-next-line string-quotes */
	font-family: 'Noto Sans Display', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--white: white;
	--primary: #7653FC;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	/* stylelint-disable-next-line string-quotes */
	--font-family: 'Noto Sans Display', sans-serif;
}